Hex in CBOR

Hi there!
How to encode a JSON format as following:
```
{
"val1" : p,
"val2" : h'1234abcd'
}
```

Where the field val2 is associated with a hex data. 
This doesn't seems to be a correct JSON format, however the web interface is able to convert it to the required CBOR format.
I am unable to use any of the python/JS libs to convert this to CBOR, however the web is able to do so.
What is the correct representation of this format where I want to send a hex value
Regards

The cbor.me website uses CBOR Diagnostic Notation (Section 8 of RFC 8949), which is an extended form of JSON to represent CBOR data items in a readable form.  Another popular text form of JSON data is YAML.

It is not necessary to generate such a form to generate CBOR.  In Python, you typically use Python notation to build a data item in memory and then convert it using one of the Python libraries, e.g., cbor2.

Any possible implementation for node js

I'm not fluid in nodes.
The cbor.me website is based on the cbor-diag gem, which you can find at <https://github.com/cabo/cbor-diag>.

I am trying to encode a json file with data { "p" : h'123abc'}
But when I convert into CBOR or YAML, it's getting converted into unsigned int and then CBOR
What to do? 

As the README says:

> No documentation; use the source, for now (the above command line utilities should show the basic usage).
